<!-- <div
  class="weather-card tracking-wider flex flex-col max-w-xl backdrop-filter backdrop-blur-xl bg-opacity-75 rounded-xl overflow-hidden shadow-xl hover:shadow-2xl animate__animated animate__fadeInRight transition duration-300"
> -->
<div
  class="weather-card relative tracking-wider flex flex-col max-w-sm rounded-3xl overflow-hidden animate__animated animate__fadeInRight transition duration-300 bg-white"
>
  <div
    [class]="getColorClass(data()?.weather?.[0]?.main)"
    [class.night]="night()"
    class="flex flex-col py-8 items-center relative"
  >
    <div class="flex flex-col items-center capitalize mt-7">
      <app-city-finder
        class="font-semibold"
        [cityName]="data()?.name"
        (focusChange)="onFocusChange($event)"
        (selectedCityCoords)="onCoordinatesChange($event)"
      />
      <p class="">
        {{ data()?.sys?.country }}
      </p>
    </div>
    <div class="flex flex-col items-center space-y-2">
      <ng-icon [name]="weatherIcon()" size="10rem"></ng-icon>
      <p class="capitalize">
        {{ data()?.weather?.[0]?.description || data()?.weather?.[0]?.main }}
      </p>
    </div>
    <div
      class="searching"
      [class.searching-active]="isSearchBarFocused()"
    ></div>
  </div>
  <div class="py-7 flex flex-col space-y-7">
    <div class="flex flex-row justify-center divide-x-2">
      @for (propDate of date(); track $index) {
      <p class="px-5">{{ propDate | uppercase }}</p>
      }
    </div>
    <div class="flex flex-col items-center gap-1">
      <p class="text-6xl font-semibold">
        {{ data()?.main?.temp | number : "1.0-0" }}°
      </p>
      <p class="text-xl">
        {{ data()?.main?.temp_min | number : "1.0-0" }}° /
        {{ data()?.main?.temp_max | number : "1.0-0" }}°
      </p>
    </div>
    <div class="flex flex-row justify-center space-x-5">
      <p class="flex items-center">
        <ng-icon name="phosphorWind" size="1.5rem"></ng-icon
        ><span class="text-xl m-0 p-0 pl-1">{{ data()?.wind?.speed }}</span>
        @if (unit() === 'Celsius') { mph } @else { m/s }
      </p>
      <p class="flex items-center">
        <ng-icon name="phosphorDrop" size="1.5rem"></ng-icon
        ><span class="text-xl m-0 p-0 pl-1">{{ data()?.main?.humidity }}</span
        >%
      </p>
      <p class="flex items-center">
        <ng-icon name="phosphorUmbrellaSimple" size="1.5rem"></ng-icon
        ><span class="text-xl m-0 p-0 pl-1">{{ data()?.clouds?.all }}</span
        >%
      </p>
    </div>
  </div>
  <button
    class="remove-card-button absolute right-5 top-5 z-20"
    (click)="removeCard()"
  >
    <ng-icon name="phosphorPlus" size="1.75rem" class="rotate-45"></ng-icon>
  </button>
</div>
